/* <!-- 

3. Add your own image into the images folder inside assets. It should have a 5px white border.
4. The text should be center aligned.
5. Create a div to contain the h1, p and img elements. Adjust the margins so that the image
and text are centered on the page. 
  Hint: You horizontally center a div by giving it a width of 50% and a margin-left of 25%.
  Hint: Set the image to have a width of 100% so it fills the div. 
*/

html {
    background-color: #FFC0D9;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

h1 {
    background-color: #F9F9E0;
    color: #FF90BC;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

h2 {
    color: black;
    font-size: 20px;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 50px;
}

img {
    width: 100%;
}

footer {
    font-size: 15px;
    background-color: #F9F9E0;
    color: #FF90BC;
}

